<h2>Add a Comment</h2>
<%= render 'layouts/errors', object: @comment%>


<%= form_for @comment do |f| %>

Visit: <%= f.collection_select( :visit_id, Visit.all, :id, :name) %> <br><br>
Comment: <%= f.text_field :text %> <br><br>

<%= f.submit  %>
<% end %>